/* purgecss start ignore */
.nav {
  &-open,
  &-closing {
  }

  &-open {
  }

  &-opening {
  }

  &-closing {
  }
}

nav {
  width: 75vw;
  img{
    @apply mb-10 m-auto;
    max-width: 60%;
  }
  @apply m-auto relative;
  ul {
    @apply block justify-center text-center;
    @apply mb-10;

    li {
      @apply mx-3;
      a{
        @apply text-gray-600 text-xs cursor-pointer; 
      }
    }
  }
  .menu-btn{
    @apply w-4 absolute right-0;
   top: 10%;
    div{
      border-top: 4px solid red;
      @apply mt-1;
    }
  }

  @screen md{
    ul{
      display:flex;
    }
    .menu-btn{
      @apply hidden;
    }
  }
}
@screen lg{
  nav{
    @apply flex justify-between items-center w-11o12; 
    .logo{
      margin: 0 !important;
      img{
        margin:auto 0;
      }
    }
    ul{
      @apply m-0;
    }
  }
}

/* purgecss end ignore */
