/* purgecss start ignore */
.nav {
  &-open,
  &-closing {
  }

  &-open {
  }

  &-opening {
  }

  &-closing {
  }
}

nav {
  width: 75vw;
  img{
    @apply mb-10 m-auto;
    max-width: 60%;
  }
  @apply m-auto relative;
  ul {
    transform: translate(0,-50vh);
    transition-duration: 250ms;
    @apply justify-center text-center;
    li {
      @apply mx-3;
      a{
        @apply text-gray-600 text-xs cursor-pointer; 
      }
    }
  }
  .menu-btn{
    @apply w-4 absolute right-0;
   top: 10%;
    div{
      border-top: 4px solid red;
      @apply mt-1;
    }
  }

  @screen md{
    ul{
      display:flex;
      transform: translate(0,0);

    }
    .menu-btn{
      @apply hidden;
    }
  }
}

/* purgecss end ignore */
.display-item{
  transform: translate(0,0) !important;
}