<footer data-template="common/footer">
  <div class="social-icon">
    <a href="#"><i class="fa-brands fa-tumblr"></i> </a>
    <a href="#"><i class="fa-brands fa-youtube"></i> </a>
    <a href="#"><i class="fa-brands fa-pinterest"></i> </a>
    <a href="#"><i class="fa-brands fa-twitter"></i> </a>
    <a href="#"><i class="fa-brands fa-facebook-f"></i> </a>
  </div>
  <div class="footer-text">
    <p>
      Superadobe technology was designed and developed by architect Nader
      Khalili and Cal-Earth Institute, and engineered by P.J. Vittore.
    </p>
    <p>
      Superadobe is a patented system (U.S. patent #5,934,027) freely put at the
      service of humanity and the environment. Licensing is required for
      commercial use.
    </p>
    <p>
      © 1999-2021 Cal-Earth Inc./Geltaftan Foundation. All Rights Reserved. |
      Webster and Sons
    </p>
  </div>
</footer>
