<nav role="navigation" aria-label="Top Navigation" data-template="common/navigation">
  <div class="logo">
    <img data-href="/" src="/images/cal-earth/Logo_2018.jpg" alt="">
  </div>
  <ul>
      <li><a>What is SuperAdobe?</a></li>
      <li><a>Learn to Build</a></li>
      <li><a>About us</a></li>
      <li><a>News</a></li>
      <li><a>Shop</a></li>
      <li><a>Support CalEarth</a></li>
  </ul>
  <div data-act="click" data-func="menuToogle" class="menu-btn">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
