<div id="super-adobe-intro" data-template="site/intro-superadobe">
  <div class="adobe-banner">
    <img data-src="/images/cal-earth/White_Icon_125.png" alt="White icon" />
    <p>SuperAdobe:powerful simplicity</p>
  </div>
  <div class="adobe-intro container">
    <p>
      SuperAdobe is a form of earth bag architecture developed by architect and
      CalEarth founder Nader Khalili. Using long sandbags ("SuperAdobe Bags"),
      barbed wire, on-site earth and a few tools, Khalili devised a
      revolutionary building system that integrates traditional earth
      architecture with contemporary global safety requirements, and passes
      severe earthquake code tests in California.
    </p>
    <p>
      This technology has been published by NASA, endorsed by the United
      Nations, featured in countless world media outlets, and awarded the
      prestigious Aga Khan Award for Architecture in 2004. It comes from years
      of meditation, hands-on research and development. Inspired by traditional
      earth architecture in the deserts of Iran and adapted for modern usage.
      Simplified so that anyone can build.
    </p>
  </div>
  <div class="line container"></div>
  <div class="work container">
    <div class="how-work">
      <div class="image">
        <img data-src="/images/cal-earth/how-it-wok.jpeg" alt="" />
      </div>
      <div class="text">
        <h5>How it works</h5>
        <p>
          Long or short sandbags are filled with moistened earth and arranged in
          layers or long coils. Strands of barbed wire are placed between each
          layer of sandbag to act as both mortar and reinforcement. Stabilizers
          such as cement, lime, or asphalt emulsion may be added. Similar to how
          a potter stacks coils of clay to make a vessel, builders stack coils
          of earth for make a structure.
        </p>
        <p>
          The SuperAdobe building system can be used for structural arches,
          domes and vaults, or conventional rectilinear shapes. The same method
          can build silos, landscaping elements, or infrastructure like dams,
          cisterns, roads, bridges, and for stabilizing shorelines and
          watercourses.
        </p>
      </div>
      <div class="image">
        <img data-src="/images/cal-earth/base-material.png" alt="" />
      </div>
      <div class="text">
        <h6>Base Materials Needed</h6>
        <ul>
          <li>
            Synthetic, low UV (ultra-violet) resistant degradable sand bags
          </li>
          <li>Four-point, two strand, galvanized barbed wire</li>
          <li>Shovels</li>
          <li>Tampers</li>
          <li>Soil and water</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="line container"></div>
  <div class="safety-standard container">
    <h6>safety Standards</h6>
    <div class="safety-container">
      <div class="text-area">
        <p>
          “The city [of Hesperia] conducted tests, under the supervision of the
          [International] conference [of Building Officials, ICBO], and found
          that Superadobe stood up to twice the amount of weight that would
          crush a pitched-roof house.”
        </p>
        <p>-Los angles times</p>
        <p class="text">
          The building process is intentionally simple, but the structural
          integrity of SuperAdobe is the result of years of research. The
          structural design uses modern engineering concepts like base-isolation
          and post-tensioning. The long coils of sandbag provide compression
          (vertical) strength. While the barbed wire adds tensile (horizontal)
          strength. In addition, the sandbags add flood resistance. The earth
          itself provides insulation and fire-proofing.
        </p>
      </div>
      <div class="image-area">
        <img data-src="/images/cal-earth/diagram.jpeg" alt="" />
      </div>
    </div>
  </div>
  <div class="line container"></div>
  <div class="build container">
    <div class="build-grid">
      <div class="text">
        <h4>Anyone cam build</h4>
        <p>
          Cal-Earth believes that the whole family should be able to build
          together, men and women, from grandma to the youngest child. We have
          spent many years researching how to make the process simpler and
          easier. There should be no heavy lifting or backaches, no expensive
          equipment, and a flexible and fast construction. The bags are filled
          in place on the wall using small pots like coffee cans, or even
          kitchen utensils. You can build alone or as a group.
        </p>
      </div>
      <div class="image">
        <img
          data-src="/images/cal-earth/another-can-build.png"
          alt="any one can build"
        />
      </div>
    </div>
    <div class="line container"></div>
    <div class="build-grid">
      <div class="text">
        <h4>Why a Dome ?</h4>
        <p>
          The arch is the strongest form in architecture and has been used in
          building for thousands of years. A dome is simply an arch rotated 180
          degrees. SuperAdobe is extremely well-suited for building arches,
          domes and vaults, and SuperAdobe domes are extremely strong
          structures. They have passed California earthquake code tests, and
          withstood a 7.6 magnitude earthquake in Nepal.
        </p>
        <p>
          Using geometry and a simple compass tool, builders can easily create
          corbelled dome structures of various heights and up to 22 feet in
          diameter.
        </p>
      </div>
      <div class="image">
        <img data-src="/images/cal-earth/dom-design.jpeg" alt="Dome deisgn" />
      </div>
    </div>
    <div class="line container"></div>
    <div class="build-grid grid-reverse">
      <div class="image">
        <img
          data-src="/images/cal-earth/plaster-finish.jpeg"
          alt="Dome deisgn"
        />
      </div>
      <div class="text">
        <h4>PLASTER & FINISHING</h4>
        <p>
          All SuperAdobe structures can last several years but to make a
          structure permanent, the builder must plaster over the sandbag
          structure. This protects from erosion due to water and weather.
          Plastering also provides an aesthetically pleasing finish that can be
          painted or left its natural color.
        </p>
        <p>
          Once the corbelled dome is complete, it can be covered in several
          different kinds of exterior treatments, usually plaster. Khalili
          developed a system that used 85% earth and 15% cement plaster and
          which is then covered by “reptile”, a veneer of grapefruit sized balls
          of cement and earth. Reptile is easy to install and because the balls
          create easy paths for stress, it doesn't crack with time. There are
          many different possibilities. Some Superadobe buildings have even been
          covered by living grass, a kind of green roof but covering the entire
          structure. Any exterior treatment and building details would need to
          be adapted to a region’s specific climatic needs.
        </p>
      </div>
    </div>
  </div>
</div>
