<div id="learn-build" data-template="site/learn-build">
  <div class="learn-video">
    <iframe
      class="iframe-video"
      src="//player.vimeo.com/video/295518845?api=1&background=1"
    >
    </iframe>
    <div class="video-text">
      <img data-src="/images/cal-earth/White_Icon_125.png" alt="White logo" />
      <p>Learn to build</p>
    </div>
  </div>
  <div class="workshop container">
    <h6>Workshops</h6>
    <p>beginners- intermediata</p>
    <p>
      Come and learn with us and see what it's all about! Click below to read
      about the various workshops we offer and sign up for one of our upcoming
      classes.
    </p>
    <div class="workshop-product" data-list='{"prop":"workshopData"}'>
      <div>
        <img data-src="{val.image}" alt="product image" />
        <h6>{val.title}</h6>
        <div class="flex gap-3">
          <p>$ {val.actualPrice}</p>
          <p class="line-through">{val.totalPrice}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="calendar container">
    <div class="2021">
      <h6>2021 calendar</h6>
      <ul>
        <li>November 13-14,2021 <span>Core A</span></li>
        <li>November 20-21,02021 <span>Core B</span></li>
        <li>December 11,2021 <span>One day Workshop</span></li>
      </ul>
    </div>
    <div class="2022">
      <h6>2022 calendar</h6>
      <ul>
        <li>january 8: <span>One day Workshop</span></li>
        <li>January 13-16: <span>Complete case (A+B) in san diego</span></li>
        <li>Febuary 13: <span>One day Workshop</span></li>
        <li>Febuary 17-20: <span>Complete core (A+b)</span></li>
        <li>March 12: <span>One day Workshop</span></li>
        <li>March 19-20 <span>Core A</span></li>
        <li>April 9: <span>One day Workshop</span></li>
        <li>April 23-24 <span>Core A</span></li>
        <li>May 14-15 <span>Core A</span></li>
      </ul>
    </div>
  </div>
</div>
