<div id="learn-build" data-template="site/learn-build">
  <div class="learn-video">
    <iframe
      class="iframe-video"
      src="//player.vimeo.com/video/295518845?api=1&background=1"
    >
    </iframe>
    <div class="video-text">
      <img data-src="/images/cal-earth/White_Icon_125.png" alt="White logo" />
      <p>Learn to build</p>
    </div>
  </div>
  <div class="workshop container">
    <h6>Workshops</h6>
    <p>beginners- intermediata</p>
    <p>
      Come and learn with us and see what it's all about! Click below to read
      about the various workshops we offer and sign up for one of our upcoming
      classes.
    </p>
    <div class="workshop-product" data-list='{"prop":"workshopData"}'>
      <div>
        <img data-src="{val.image}" alt="product image" />
        <h6>{val.title}</h6>
        <div class="flex gap-3">
          <p>$ {val.actualPrice}</p>
          <p class="line-through">{val.totalPrice}</p>
        </div>
      </div>
    </div>
  </div>
</div>
