@import url(https://fonts.googleapis.com/css?family=Tangerine);
#home {
  .home-banner {
    background: url("../../../../images/cal-earth/Homepage_Online_Sale_01_r.jpg")
      no-repeat;
    background-size: cover;
    @apply w-screen;
    height: calc(100vw / 2);
    .banner-text {
      @apply flex justify-center items-center flex-col;
      height: inherit;
      h4 {
        @apply text-white text-4xl font-bold;
      }
      p {
        @apply text-white text-xl font-medium;
        span {
          @apply underline font-semibold;
        }
      }
      button {
        @apply bg-white border-0 text-gray-700 font-semibold;
        &:hover {
          @apply text-gray-800;
        }
      }
    }
  }
  .banner-details {
    @apply text-center;
  }
  .learn-campus {
    @apply grid grid-cols-1 gap-3 mt-10;
    @screen md {
      @apply grid-cols-2;
    }
    .visit-us {
      background-image: url("../../../../images/cal-earth/image-asset.jpeg");
    }
    .learn-build {
      background-image: url("../../../../images/cal-earth/Dave_Instructing_ColorEss09.jpg");
    }
    .learn-campus-box {
      background-size: cover;
      padding: 100px 0;
      @apply flex justify-center items-center flex-col;
      h4 {
        @apply text-white text-2xl font-bold;
      }
      p {
        @apply text-white text-sm font-medium;
      }
      button {
        @apply bg-white border-0 text-gray-700 font-semibold;
        &:hover {
          @apply text-gray-800;
        }
      }
    }
  }
  .new-books {
    @apply w-full text-center my-5;
    h4 {
      @apply text-gray-700;
    }
    .spritual {
      @apply grid grid-cols-1 gap-2 mx-auto my-5;
      width: calc(100vw / 2);
      @screen sm {
        @apply grid-cols-2;
        /* background:red; */
      }
      @screen lg {
        @apply grid-cols-3;
        /* background:pink; */
      }
      .book-box {
        @apply w-40 justify-self-center;
        h4 {
          @apply text-blue-400 text-left mt-2;
        }
        p {
          @apply text-gray-800 text-sm text-left mt-3;
        }
        div {
          @apply flex flex-col items-center;
          input {
            border: 1px solid black;
            @apply w-2o5;
          }
        }
        button {
          @apply bg-blue-400 border-0 text-white mt-5;
        }
      }
    }
  }
  .line-full {
    @apply my-12;
    border-bottom: 1px solid silver;
  }
  .uneder-line {
    @apply my-12 w-8o12;
    border-bottom: 1px solid silver;
  }
  .recent-news {
    h4 {
      @apply text-yellow-600 text-center mb-16 mt-5;
    }
    .news-section {
      @apply grid grid-cols-1 gap-3;
      div {
        @apply justify-self-center w-10o12;
        h5 {
          @apply font-thin underline text-gray-700 text-lg mt-5;
        }
        a {
          @apply text-gray-500 text-xs underline my-4;
        }
        p {
          @apply text-gray-500 text-xs;
        }
      }
      @screen md {
        @apply grid-cols-2;
      }
      @screen lg {
        @apply grid-cols-3;
      }
      @screen xl {
        @apply grid-cols-4;
      }
    }
  }
  .calearth-quote {
    @apply mt-16;
    background: url("../../images/cal-earth/Earth+in+Hand.jpg");
    @apply bg-cover w-full;
    height: calc(100vw / 2);
    p {
      font-family: "Tangerine", serif;
      @apply w-7o12 h-full m-auto flex justify-center items-center text-6xl text-center text-white;
    }
  }
}
