#learn-build {
  .learn-video {
    @apply w-screen relative overflow-hidden;
    background: red;
    height: calc(100vw / 3);

    iframe {
      @apply w-full;
      height: calc(100% * 1.68);
    }
    .video-text {
      @apply absolute z-10 top-0 w-full h-full flex justify-center items-center flex-col;
      img {
        @apply w-1o12;
      }
      p {
        @apply text-white font-semibold uppercase text-base;
        @screen sm {
          @apply text-2xl;
        }
      }
    }
  }
  .workshop {
    @apply mt-10 text-center;
    h6 {
      @apply text-orange-500 uppercase;
    }
    p {
      @apply m-0 text-sm text-gray-600;
    }
    .workshop-product {
      @apply grid grid-cols-1 gap-6 mt-2;
      @screen sm {
        @apply grid-cols-2;
      }
      @screen md {
        @apply grid-cols-3;
      }
      h6 {
        @apply text-blue-300 text-xl text-left my-2;
      }
      div {
        @apply m-auto w-10o12;
        img {
          @apply m-auto;
        }
        @screen md {
          @apply w-full;
          img{
            @apply w-full;
          }
        }
      }
    }
  }
  .calendar{
    @apply grid grid-cols-1 gap-10 mt-20;
    @screen sm{
      @apply grid-cols-2;
    }
    width: 80vw;
    h6{
      @apply text-center text-orange-500 uppercase text-xl;
    }
    ul{
      li{
        @apply text-sm font-semibold mb-1;
        span{
          @apply font-light text-gray-700;
        }
      
      }
    }
  }
}
